{% load icon %}
<div class="footer">
    <div class="footer-flash-about home-flash-dark">
        <div class="container">
            Tell me more about what you want to accomplish. I will help you think of possible solutions
            in an ever-changing digital world.
            <div class="mt-4"><a target="_blank" href="mailto:hesbonkiptoo5600@gmail.com" class="mail-link"><span
                        class="__cf_email__"><strong>hesbonkiptoo5600@gmail.com</strong></span></a>
            </div>
        </div>
    </div>
    <div class="home-flash-dark pt-0 pb-0">
        <div class="container">
            <hr class="mt-0 mb-0">
        </div>
    </div>
    <div class="footer-flash home-flash-dark">
        <div class="container">
            <div class="footer-content-flash">
                <div class="row">
                    <div class="col-md-4 col-6 mb-5">
                        <h5>Contact Me</h5>
                        <div class="contact-item">{% icon "map-pin" %} Nairobi, &nbsp;Kenya</div>
                        <div class="contact-item"><a target="_blank" href="mailto:hesbonkiptoo5600@gmail.com"
                                class="mail-link"><span
                                    class="__cf_email__"><strong>hesbonkiptoo5600@gmail.com</strong></span></a>
                        </div>
                        <div class="contact-item"><a href="tel:+254727737299" class="phone-link">+2547 2773 7299</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-5">
                        <h5>help</h5>
                        <ul class="footer-nav">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-6 mb-5">
                        <h5>quick links</h5>
                        <ul class="footer-nav">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Projects</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 mb-5">
                        <ul class="social social-rounded">
                            <li><a target="_blank" href="https://github.com/Hesbon5600"><i
                                        class="socicon-github"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/hesbon-kiptoo-maiyo/"><i
                                        class="socicon-linkedin"></i></a></li>
                            <li><a target="_blank" href="mailto:hesbonkiptoo5600@gmail.com"><i
                                        class="socicon-mail"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="site-info">
                <div class="row">
                    <div class="col-6">
                        <div class="copyright text-left">
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> <strong>Hesbon</strong>. All
                            Rights Reserved.
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">Developed by <strong><a href="#">Hesbon Maiyo</a></strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>