<ul class="social social-fixed">
    <li><a target="_blank" href="https://github.com/Hesbon5600"><i class="socicon-github"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/hesbon-kiptoo-maiyo/"><i class="socicon-linkedin"></i></a>
    </li>
    <li><a target="_blank" href="mailto:hesbonkiptoo5600@gmail.com"><i class="socicon-mail"></i></a></li>
</ul>
<div class="horizontal-nav">
    <div class="container">
        <ul id="menu">
            <li data-menuanchor="Home" class="active"></li>
            <li data-menuanchor="Services"></li>
            <li data-menuanchor="Projects"></li>
            <li data-menuanchor="Clients"></li>
            <li data-menuanchor="Contacts"></li>
        </ul>
    </div>
    <div class="horizontal-controls">
        <button class="a-pp-prev">prev</button>
        <span class="divider">|</span>
        <button class="a-pp-next">next</button>
    </div>
</div>